@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto+Mono&display=swap');
:root {
  /* Colors */
  --background-color: #051d3b;
  --white: #ffffff;
  --neutral-white: #d9d9d9;
  --black: #000000;
  --blue-strong: #5081fb;
  --blue-medium: #7ba4fc;
  --blue-light: #96b9fd;
  --input-color: #ffffff16;
  --input-hover: #ffffff24;

  /* Typography */
  --font: 'Inter', sans-serif;
  --code-font: 'Roboto Mono', monospace;
  --title-font-size: 21px;
  --title-line-height: 32px;
  --body-font-size: 16px;
  --body-line-height: 24px;
  --sidebar-title-font-size: 12px;
  --sidebar-title-line-height: 18px;

  /* Shadow */
  --shadow: 0 16px rgb(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--background-color);
}
